.App {
  text-align: center;
  background-color: transparent;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  color: rgb(8, 2, 2);
}

.scroller {
  height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.scroller::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}